<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="VGU-test-suite">

    <test name="VGU Test ">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="Vgu.tests.Vgutest"></class>
        </classes>
    </test>


</suite>